.container {
    max-width: 480px; 
}

.container select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: 500;
    margin-top: 10px;
}